a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 5%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}

/* Content */

body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #F4F4F4;
}

#nav-button {
	position: fixed;
	left: 15px;
	top: 20px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	z-index: 100;
	color: #C0B283;
	font-size: 40px;
	font-weight: 200;
}

#sidebar-container {
	position: fixed;
	width: 100%;
	height: 52px;
	background-color: #373737;
	margin-top: 90px;
}

#sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.sidebar-item {
	font-weight: 200;
	font-size: 16px;
	color: #ffffff;
	padding-top: 17px;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
}

.sidebar-item:hover {
	background-color: #C0B283;
}


/* Alert Function*/

.alert {
	top: 145px;
	position: relative;
}
.alert-icon {
	position: absolute;
	top: 5px;
	left: 25px;
	
}

.message {
	height: 25px;
	background-color: #C0B283;
	opacity: 0.5;
	/*-webkit-transform: translateX(-280px);*/
	-webkit-transition: all 0.3s;
	color: #F4F4F4;
	position: absolute;
	left: 50px;
	padding-top: 5px;
	padding-left: 0px;
	width: 0%;
}

#roommate-container {
	position: relative;
	top: 190px;
}
.roommate {
	width: 350px;
	height: 300px;
	display: inline-block;
	padding-left: 30px;
	color: #373737;
	margin-left: 20px;
	display: block;
	float: left;
	text-align: center;
	text-decoration: none;
}
#name {
	font-size: 25px;
	text-align: center;
	font-weight: 800;
	padding-top: 5px;
}
#chore {
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
}
#note {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #373737;
	font-weight: 200;
	color: white;
}


/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}





/* profile pics */

#thumbnail {
/* Part 2: Profile Picture -- Make it centered and Circle :) */
    margin-top: 10px;
    margin-left: 90px;
/*    margin-right: -70px;*/
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    opacity: 1;
}

#thumbnail img {
/* Part 2: Cropping my profile picture to shift it so that it's centered around face*/
    width:100%;
}

#plus {
/* Part 2: Profile Picture -- Make it centered and Circle :) */
    margin-top: 10px;
    margin-left: 90px;
/*    margin-right: -70px;*/
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    opacity: 1;
    padding-bottom: 10px;
}

#plus img {
	width: 100%;
}


#thumbnail-rick {
/* Part 2: Profile Picture -- Make it centered and Circle :) */
    margin-top: 10px;
    margin-left: 90px;
/*    margin-right: -70px;*/
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    opacity: 1;
}

#thumbnail-rick img {
/* Part 2: Cropping my profile picture to shift it so that it's centered around face*/
    width:145%;
    margin-left:-15px;
}

.construction {
	font-size: 70px;
	text-align: center;
	position: fixed;
	margin-top: 500px;
	margin-left: 250px;
	color: #373737;
}

#groceries-container {
	position: relative;
	top: 190px;
}

.grocery {
	width: 350px;
	height: 300px;
	display: inline-block;
	padding-left: 30px;
	color: #373737;
	margin-left: 20px;
	display: block;
	float: left;
	text-decoration: none;
}

.grocery-name {
	width: 350px;
	background-color: #C0B283;
	color: white;
	font-size: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	font-weight: 100;
	letter-spacing: 2px;
}

.grocery-item {
	padding-top: 8px;
	font-size: 20px;
	text-align: center;
	font-weight: 200;
}

.add-new {
	padding-top: 8px;
	font-size: 20px;
	text-align: center;
	font-weight: 200;
}
.grocery-item-complete {
	text-decoration: line-through;
}

#groceries-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
}